.container{
  margin-top: 100px;
}
.button-align {
  margin-left: 0.5em;
  width: 70px;
}

.progressbar-container {
  margin-top: 0.75em;
}
.margin-bottom{
  margin-bottom: 10px;
}
.bar{
  height:30px
}